<div class="grid">
  <div class="col-12 p-0">
    <p-card styleClass="">
      <div class="grid">
        <div class="col-2">
  
          <a routerLink="/">
            <p-avatar
              image="assets/logo.png"
              size="large"
              shape="circle"
            ></p-avatar>
          </a>

        </div>
        <div class="col-7 text-right">
          <div class="mt-2">
            <a href="https://www.google.com">
              <span class="mr-2" style="color: #0062ff">Acceso</span>
              <i
                class="pi pi-user"
                style="font-size: 1.5rem; color: #0062ff"
              ></i>
            </a>
          </div>
        </div>

        <div class="col-3 text-right">
          <a href="#">
            <i
              class="pi pi-shopping-cart mr-3 mt-2 p-text-secondary"
              pBadge
              style="font-size: 1.7rem"
              value="3"
            ></i>
          </a>
        </div>
      </div>
    </p-card>
  </div>
</div>
