<app-navbar></app-navbar>

<div class="grid mt-1">
    <div class="col-12 p-0">
        <p-card>
            <div class="grid">
                <div class="col-2">
                    <i class="pi pi-map-marker"></i>
                </div>

                <div class="col-7">
                    <div class="grid">
                        
                        <div class="col-12 p-0">
                            <span style="font-size: 14px;">Everth Navarro</span>
                        </div>

                        <div class="col-12 p-0" >
                            <span>+5916782323</span>
                        </div>

                        <div class="col-12 p-0">
                            <span style="font-size: 14px;">Barrio Litoral</span>
                        </div>
                        <div class="col-12 p-0">
                            <span style="font-size: 14px;">Cochabamba</span>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <i class="pi pi-chevron-right"></i>
                </div>
                

            </div>

        </p-card>
    </div>

</div>